# You're at right place. Take a deep breath and code with me ;p

#### Requirements:
* The most obvious one is Twitter Developer Account.
* Jupyter Notebook (You can use any other IDE also as per your choice.)
* tweepy (Tweepy is a python library to access Twitter API.)
* snscrape (snscrape is a scraper for social networking services (SNS))
* pandas(Pandas is an open-source, BSD-licensed Python library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.)

In [1]:
#Let's import the libraries that are required here.
import pandas as pd
import tweepy
import csv

In [2]:
#Provide your own credentials here.
consumer_key = '#######################################'
consumer_secret = '####################################'
access_token = '#######################################'
access_token_secret = '################################'

In [3]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

snscrape → snscrape is a scraper for social networking services (SNS). We need to install this.

In [4]:
#pip install snscrape

In [5]:
#To open and read the file .txt or .json using read_csv() and read_json() of pandas respectively.
tweet_url = pd.read_csv("scraped_tweets.txt", index_col= None, header = None, names = ["tweet_urls"])
tweet_url.head()

                                          tweet_urls
0  https://twitter.com/PortalAmazonas1/status/134...
1  https://twitter.com/EsNoticiaMundia/status/134...
2  https://twitter.com/kesedice/status/1345520103...
3  https://twitter.com/robertoleoni/status/134552...
4  https://twitter.com/WFTSisabel/status/13455200...

In [6]:
#Extract the tweet id
af = lambda x: x["tweet_urls"].split("/")[-1]
#store tweet id in another column
tweet_url['tweet_id'] = tweet_url.apply(af, axis=1)

In [7]:
tweet_url.head()

                                          tweet_urls             tweet_id
0  https://twitter.com/PortalAmazonas1/status/134...  1345520153992323072
1  https://twitter.com/EsNoticiaMundia/status/134...  1345520135508025345
2  https://twitter.com/kesedice/status/1345520103...  1345520103044096000
3  https://twitter.com/robertoleoni/status/134552...  1345520083234414592
4  https://twitter.com/WFTSisabel/status/13455200...  1345520013244047365

In [8]:
#Then, let’s convert our tweet_url Series into a list.
ids = tweet_url['tweet_id'].tolist()

In [9]:
#When I looped through all the 3400 ids, the API is giving an error. Therefore, I tried to process the ids by batch or chunks.
total_count = len(ids)
chunks = (total_count - 1) // 50 + 1
chunks

180

In [10]:
#we can finally create our function that would extract all the elements that we need from the tweet. 
#Here, only the tweet id, tweet time and the tweet itself is required.
def fetch_tw(ids):
    tw_statuses = api.statuses_lookup(ids, tweet_mode= "extended")
    data = pd.DataFrame()
    for status in tw_statuses:
            tweet_elem = {"tweet_id": status.id,
                     "tweet":status.full_text,
                     "date":status.created_at}
            data = data.append(tweet_elem, ignore_index = True)
    data.to_csv("scraped_tweets.csv", mode="a")

In [11]:
#We'll process only 50 entries because the statuses_lookup() method gives the statuses of IDs, up to 100 only..
for i in range(chunks):
        lst = ids[i*50:(i+1)*50]
        result = fetch_tw(lst)


## A csv file is already created with the older tweets information. Please check and carry out your further tasks :)